<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context-4.3.xsd
						http://www.springframework.org/schema/mvc 
						http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
						http://www.springframework.org/schema/tx 
						http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">


<!-- Especificando el componente package que se debe scanear  -->

<context:component-scan base-package="com"></context:component-scan>

<!-- Obtiendo las propiedades de la base de datos -->

<context:property-placeholder location="classpath:application.properties"/>


<mvc:annotation-driven/>

<!-- Especificandp la fuente de locacion para cargar JS, CSS, Imagenes  -->

<mvc:resources location="/resources" mapping="/resources/**"></mvc:resources>
<!-- Vista -->

<bean 
class="org.springframework.web.servlet.view.InternalResourceViewResolver">
<!-- Recordar que se tiene que crear la carpeta paginas en WEB-INF -->
	<property name="prefix" value="/WEB-INF/paginas/"></property>
	<property name="suffix" value = ".jsp"/>
</bean>

<!-- DataSource -->

<bean class="org.springframework.jdbc.datasource.DriverManagerDataSource"
	id="dataSource">
	<property name="driverClassName" value="${database.driver}"></property>
	<property name="url" value="${database.url}"></property>
	<property name="username" value="${database.user}"></property>
	<property name="password" value="${database.password}"></property>
</bean>

<!-- Hibernate SessionFactory -->
<bean id="sessionFactory"
class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
<property name="dataSource" ref="dataSource"></property>
<property name="hibernateProperties" >
	<props>
		<prop key="hibernate.dialect">${hibernate.dialect}</prop>
		<prop key="hibernate.hbm2ddl">${hibernate.hbm2ddl.auto}</prop>
		<prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
		<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
		<prop key="hibernate.id.new_generator_mappings">false</prop>
	</props>
</property>
<property name="packagesToScan" value="com.persistencia.modelo"></property>
</bean>


<!-- Transaccion -->

<bean id="transactionManager"
class="org.springframework.orm.hibernate5.HibernateTransactionManager">
<property name="sessionFactory" ref="sessionFactory"/>
</bean>


<tx:annotation-driven transaction-manager="transactionManager"/>


</beans>
